<h2>
  Welcome {{ name }} To Angular World!!!
</h2>
<h2>{{ 2+2 }}</h2>
<h2>{{ 'Welcome ' + name }}</h2>
<h2>{{ name.length }}</h2>
<h2>{{ name.toUppercase }}</h2>
<h2>{{ greetUser() }}</h2>
<h2>{{ siteUrl }}</h2>

<!-- <h2>{{ window.location.href }}</h2> it is not possible!!! -->
<!-- <h2>{{ a = 2 + 2 }}</h2>  it is not possible!!! -->

<!-- property binding -->
<input type="text" [id]="myId" value="Milan">
<input type="text" id="{{myId}}" value="Milan">

<input [disabled]="isDisabled" type="text" id="{{myId}}" value="Milan">


<!-- class binding -->

<h2 class="text-success">Class Binding</h2>
<h2 [class]="successClass">Class Binding</h2>

<h2 [class]="successClass" class="text-special">Class Binding</h2>
<h2 [class.text-danger]="hasError">Class Binding</h2>
<h2 [ngClass]="messageClasses">Class Binding</h2>

<!-- style binding -->

<h3 [style.color]="'orange'">Style binding</h3>
<h3 [style.fontSize.px]="'30'">Font Size</h3>
<h3 [style.color]="hasError ? 'red' : 'green'">Style binding</h3>
<h3 [style.color]="markirano">Style binding 123</h3>
<h3 [ngStyle]="titleStyle">Style binding 12345</h3>

<!-- event binding -->

<button (click)="onClick()">show/hide</button>

<div *ngIf="magic">I am hire and I am not hire!!!</div>

<button (click)="onClick2()">show name</button>
{{ magic2 }}

<button (click)="onClick3($event)">event</button>
{{magic3}}

<!-- template reference variables  -->

<input type="text" #myInput>
<!-- <button (click)="logMsg(myInput.value)">Log</button> -->
<button (click)="logMsg(myInput)">Log</button>

<!--  Two Way Binding -->

<input type="text" [(ngModel)]="myName">
{{myName}}

<!-- ngIf Directive -->

<h2 *ngIf="displayName; else elseBlock">
  ngIf Directive
</h2>
<ng-template #elseBlock>
  <h3>
    Name is hiddenn_nn!!!
  </h3>
</ng-template>


<div *ngIf="displayName; then thenBlock; else elseBlock2">
</div>
<ng-template #thenBlock>
  <h1>Milan must success!!!</h1>
</ng-template>
<ng-template #elseBlock2>
  <h5 [style.color]="'red'">No success is not a option!!!</h5>
</ng-template>

<!--  ngSwitch Directive -->
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You picked red color</div>
  <div *ngSwitchCase="'blue'">You picked blue color</div>
  <div *ngSwitchCase="'orange'">You picked orange color</div>
  <div *ngSwitchDefault>Picked again!!!</div>
</div>


<!-- ngFor Directive -->

<div *ngFor="let color of colors; index as i">
  <h5>{{i+1}} {{color}}</h5>
</div>
